@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Raleway&display=swap");
body > #root > div {
  height: 100vh;
}

.App {
  margin: 0;
  width: 100vw;
  text-align: center;
}

header {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: wrap;
          flex-direction: wrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-bottom: 3px solid #04619E;
  position: fixed;
}

header img {
  width: 60px;
  height: 52px;
  -webkit-filter: invert(19%) sepia(98%) saturate(2139%) hue-rotate(187deg) brightness(95%) contrast(97%);
          filter: invert(19%) sepia(98%) saturate(2139%) hue-rotate(187deg) brightness(95%) contrast(97%);
  margin: 1em 0 .5em;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5%;
}

header h1 {
  color: #04619E;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-bars {
  margin-right: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #689DF4;
  width: 300px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  font-family: "Raleway", sans-serif;
  left: -100%;
  -webkit-transition: 850ms;
  transition: 850ms;
}

.nav-menu-active {
  right: 0;
  -webkit-transition: 350ms;
  transition: 350ms;
}

.nav-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 80px;
}

.nav-text a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #04619E;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #689DF4;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

span {
  margin-left: 16px;
}

header + section {
  padding-top: 102px;
}

header + main {
  padding-top: 102px;
}

section {
  height: 80vh;
}

section h1 {
  font-size: 30px;
  text-align: left;
  margin-left: 10%;
  font-family: "Montserrat", sans-serif;
}

section h2 {
  text-align: left;
  margin-left: 10%;
  font-family: "Montserrat", sans-serif;
}

section p {
  font-family: "Raleway", sans-serif;
  margin-left: 10%;
}

section .homeGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 2em;
}

section .homeGrid a {
  font-size: 20px;
  text-decoration: none;
  background-color: #689DF4;
  border-radius: 20px;
  padding: 1em;
  padding-top: 3em;
  padding-bottom: 3em;
  margin: 40px;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

section .homeGrid a a:hover {
  color: #000000;
}

section .homeGrid a:visited {
  color: #ffffff;
}

main {
  height: 80vh;
}

main h1 {
  font-size: 30px;
  text-align: left;
  margin-left: 10%;
  font-family: "Montserrat", sans-serif;
}

main h2 {
  text-align: left;
  margin-left: 10%;
  font-family: "Montserrat", sans-serif;
}

main p {
  font-family: "Raleway", sans-serif;
  margin-left: 10%;
}

main a {
  margin-left: 10%;
  text-decoration: none;
  color: #04619E;
}

footer {
  background-color: #D6DDE1;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: wrap;
          flex-direction: wrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  z-index: 10;
  width: 100%;
  border-top: 3px solid #04619E;
  color: #04619E;
  position: fixed;
  font-family: "Montserrat", sans-serif;
}

footer .footerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .socials {
  width: 40px;
  height: 40px;
}

.tourVideo {
  margin-left: 10%;
}
/*# sourceMappingURL=App.css.map */