// Project build colours
$DarkBlue: #04619E;
$LightBlue: #689DF4;
$Grey: #D6DDE1;
$Black: #000000;
$White: #ffffff;


// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Raleway&display=swap');
$Montserrat: 'Montserrat',
sans-serif;
$Raleway: 'Raleway',
sans-serif;


// Media queries and SCSS mixins, used for mobile and tablet
// responsive design requirements
$mobile: 414px;
$tablet: 768px;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{tablet}) {
    @content;
  }
}


// Set body with no margins or padding so stretches to edges correctly
body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
}

.App {
  width: 100vw;
  text-align: center;
}

// Header styling, all header styling apart from nav menu/sidebar
header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  border-bottom: 3px solid $DarkBlue;
  position: fixed;
  background-color: $Grey;

  // Stylign for header on a mobile display
  @include mobile {
    display: flex;
    height: 10vh;
  }

  // Setting for logo, aligns and changes color
  img {
    width: 60px;
    height: 52px;
    filter: invert(19%) sepia(98%) saturate(2139%) hue-rotate(187deg) brightness(95%) contrast(97%);
    margin: 1em 0 .5em;
    text-align: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 40px;

    @include mobile {
      width: 30px;
      height: 28px;
    }
  }

  // Setting for header h1 text (EHU Freshers App)
  h1 {
    color: #04619E;
    font-family: $Montserrat;

    @include mobile {
      font-size: large;
    }
  }
}

// spacer class to set width and height and used
// where a space is required
.spacer {
  width: 100%;
  height: 95px;
}

// Style for spans
span {
  margin-left: 16px;
}

// Padding to push section under header
header+section {
  padding-top: 102px;
}

// Padding to push main under header
header+main {
  padding-top: 102px;
}

// Implemented so text pushing below header on home page
// after implementing a background image
.homebackground {
  padding-top: 60px;
}

// Section styling - used only on the home page, kept as section
// to differentiate from the main layout used in all other pages
section {
  height: 80vh;

  h1 {
    font-size: 30px;
    text-align: left;
    margin-left: 10%;
    font-family: $Montserrat;
  }

  h2 {
    text-align: left;
    margin-left: 10%;
    font-family: $Montserrat;
  }

  p {
    font-family: $Raleway;
    margin-left: 10%;
  }
}

// Styling for the grid on home page, align items as needed,
// and styles other requirements as needed
.homeGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2em;

  @include mobile {
    display: grid;
    grid-template-columns: 4fr;
  }

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10%;
  }

  a {
    font-size: 20px;
    text-decoration: none;
    background-color: $LightBlue;
    border-radius: 10px;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 40px;
    text-align: center;
    font-family: $Raleway;
    color: $White;

    @include mobile {
      padding: 2em;
    }

    p:hover {
      color: #000000;
    }
  }
}

// Main styling, this is the style set to all pages that use
// a main as content container, this is all the pages apart from home
main {
  height: 80vh;

  @include mobile {
    margin: 0;
    justify-content: center;
  }

  img {
    margin-left: 10%;

    @include mobile {
      margin: 0;
      width: 100%;
    }
  }

  h1 {
    font-size: 30px;
    text-align: left;
    margin-left: 10%;
    font-family: $Montserrat;
    color: $DarkBlue;
    margin-top: 2%;
  }

  h2 {
    text-align: left;
    margin-left: 10%;
    font-family: $Montserrat;
    color: $DarkBlue;
    margin-top: 3%;
  }

  p {
    font-family: $Raleway;
    margin-left: 10%;
    word-spacing: 50%;
  }

  iframe {
    margin-left: 10%;

    @include mobile {
      margin: 0;
      width: 100%;
    }
  }

  ul {
    margin-left: 10%;
    font-family: $Raleway;
  }

  li {
    word-spacing: 50%;
  }

  a {
    margin-left: 10%;
    text-decoration: none;
    color: $DarkBlue;
    font-family: $Raleway;

    @include mobile {
      margin: 0;
      width: 100%;
      justify-content: center;
    }
  }

  .socials {
    width: 40px;
    height: 40px;
  }
}

// Footer styling section, all the styling for the footer elements
footer {
  background-color: $Grey;
  height: 10vh;
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  border-top: 3px solid $DarkBlue;
  color: #04619E;
  position: fixed;
  font-family: $Montserrat;

  @include mobile {
    bottom: 0;
    height: 20vh;
    display: grid;
  }

  @include tablet {
    bottom: 0;
    height: 30vh;
    display: grid;
  }

  .footerWrapper {
    display: flex;
    justify-content: space-around;
    width: 25%;
    align-items: center;

    @include mobile {
      justify-content: flex-start;
    }

    @include tablet {
      justify-content: flex-start;
    }
  }

  .socials {
    width: 40px;
    height: 40px;
  }
}

// Created and used on each page for design, allows content to flow
// above the footer, an easy quick fix
.footerspacer {
  height: 10vh;

  // mobile adjustment to push content above footer as needed
  @include mobile {
    height: 200px;
  }
}

// booking class for booking a tags on transitions team page
.booking {
  padding: 16px 28px;
  border-radius: 10px;
  background-color: $DarkBlue;
  color: $White;
  font-family: $Montserrat;
  display: inline-flex;
  margin-top: 10px;

  // Mobile styling for transitions team booking a tags
  @include mobile {
    display: inline-flex;
    justify-content: center;
    width: 80%;
    margin-left: 2.5%;
  }
}

// Used in media queries to remove left margin where needed to bring
// content back inline
.removeleftmargin {
  margin-left: 0%;
}

// Used in media queries to push a tags inline in viewport, mainly on mobile
.mobile-left-margin-small {
  margin-left: 2.5%;
}

// Used in media queries to push a tags inline in viewport
.mobile-left-margin {
  margin-left: 10%;
}

// Styling so space between each society on the societies page
.societiestopmargin {
  padding-top: 5%;
}

// Styling to set size and alignment of logos in societies page for mobile
// screens
.societiesLogos {
  @include mobile {
    width: 50%;
    margin-left: 25%;
  }
}

// Fade in animation to be used on any sections want to fade into screen
.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

// The keyframes setting opacity for each browser, cover all browser types
// for accessibility and functionality
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// Flexbox for timetable page items
.timetableFlex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

// Styling for timetable items, setting sizing, border
// box-shadow and margin, also mobile width and height
// for responsive design requirements
.timetableItem {
  width: 600px;
  height: 575x;
  border: 3px solid #04619E;
  border-radius: 10px;
  box-shadow: 12px 12px 2px 1px $LightBlue;
  margin-bottom: 5%;

  @include mobile {
    width: 85%;
    height: 700px;
  }
}