// Project build colours
$DarkBlue: #04619E;
$LightBlue: #689DF4;
$Grey: #D6DDE1;
$Black: #000000;
$White: #ffffff;


// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Raleway&display=swap');
$Montserrat: 'Montserrat',
sans-serif;
$Raleway: 'Raleway',
sans-serif;

// Set body with no margins or padding so stretches to edges correctly
body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
}

.App {
  width: 100vw;
  text-align: center;
}

// Header styling, all header styling apart from nav menu/sidebar
header {
  margin: 0;
  padding: 0;
  height: 10vh;
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  // align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 3px solid $DarkBlue;
  position: fixed;
  background-color: $Grey;

  img {
    width: 60px;
    height: 52px;
    filter: invert(19%) sepia(98%) saturate(2139%) hue-rotate(187deg) brightness(95%) contrast(97%);
    margin: 1em 0 .5em;
    text-align: center;
    align-items: center;
    margin-left: 5%;
  }

  h1 {
    color: #04619E;
    font-family: $Montserrat;
  }
}

.spacer
{
    width: 100%;
    height: 95px;
}

// Navigation menu styling
.navbar {
  height: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.menu-bars {
  margin-right: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: $LightBlue;
  width: 300px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  font-family: $Raleway;
  left: -100%;
  transition: 850ms;
}

.nav-menu-active {
  right: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 80px;
}

.nav-text a {
  text-decoration: none;
  color: $White;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: $DarkBlue;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: $LightBlue;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

// Padding to push section under header
header+section {
  padding-top: 102px;
}

header+main {
  padding-top: 102px;
}

// Section styling - used only on the home page, kept as section
// to differentiate from the main layout used in all other pages
section {
  height: 80vh;

  h1 {
    font-size: 30px;
    text-align: left;
    margin-left: 10%;
    font-family: $Montserrat;
  }

  h2 {
    text-align: left;
    margin-left: 10%;
    font-family: $Montserrat;
  }

  p {
    font-family: $Raleway;
    margin-left: 10%;
  }

  .homeGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2em;

    a {
      font-size: 20px;
      text-decoration: none;
      background-color: $LightBlue;
      border-radius: 20px;
      padding: 1em;
      padding-top: 3em;
      padding-bottom: 3em;
      margin: 40px;
      text-align: center;
      font-family: $Raleway;

      a:hover {
        color: #000000;
      }
    }

    a:visited {
      color: $White;
    }
  }
}

main {
  height: 80vh;
  margin-left: 5%;
  margin-right: 5%;
  z-index: -1;

  img {
    margin-left: 10%;
  }

  h1 {
    font-size: 30px;
    text-align: left;
    margin-left: 10%;
    font-family: $Montserrat;
    color: $DarkBlue;
    margin-top: 2%;
  }

  h2 {
    text-align: left;
    margin-left: 10%;
    font-family: $Montserrat;
    color: $DarkBlue;
    margin-top: 3%;
  }

  p {
    font-family: $Raleway;
    margin-left: 10%;
    word-spacing: 50%;
  }

  iframe {
    margin-left: 10%;
  }

  ul {
    margin-left: 10%;
    font-family: $Raleway;
  }

  li {
    word-spacing: 50%;
  }

  a {
    margin-left: 10%;
    text-decoration: none;
    color: $DarkBlue;
    font-family: $Raleway;
  }

  .socials {
    width: 40px;
    height: 40px;
  }
}

// Footer styling section, all the styling for the footer elements
footer {
  background-color: $Grey;
  height: 10vh;
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  border-top: 3px solid $DarkBlue;
  color: #04619E;
  position: fixed;
  font-family: $Montserrat;

  .footerWrapper {
    display: flex;
    justify-content: space-around;
    width: 25%;
    align-items: center;
  }

  .socials {
    width: 40px;
    height: 40px;
  }
}

// Created and used on each page for design, allows content to flow
// above the footer, an easy quick fix
.footerspacer {
  height:10vh;
}

.booking {
  padding: 16px 32px;
  border-radius: 20px;
  background-color: $DarkBlue;
  color: $White;
  font-family: $Montserrat;
  margin-bottom: 10%;
}

.removeleftmargin {
  margin-left: 0%;
}