@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Raleway&display=swap");
body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
}

.App {
  width: 100vw;
  text-align: center;
}

header {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  border-bottom: 3px solid #04619E;
  position: fixed;
  background-color: #D6DDE1;
}

@media (max-width: 414px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10vh;
  }
}

header img {
  width: 60px;
  height: 52px;
  -webkit-filter: invert(19%) sepia(98%) saturate(2139%) hue-rotate(187deg) brightness(95%) contrast(97%);
          filter: invert(19%) sepia(98%) saturate(2139%) hue-rotate(187deg) brightness(95%) contrast(97%);
  margin: 1em 0 .5em;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5%;
  margin-right: 40px;
}

@media (max-width: 414px) {
  header img {
    width: 30px;
    height: 28px;
  }
}

header h1 {
  color: #04619E;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 414px) {
  header h1 {
    font-size: large;
  }
}

.spacer {
  width: 100%;
  height: 95px;
}

span {
  margin-left: 16px;
}

header + section {
  padding-top: 102px;
}

header + main {
  padding-top: 102px;
}

.homebackground {
  padding-top: 60px;
}

section {
  height: 80vh;
}

section h1 {
  font-size: 30px;
  text-align: left;
  margin-left: 10%;
  font-family: "Montserrat", sans-serif;
}

section h2 {
  text-align: left;
  margin-left: 10%;
  font-family: "Montserrat", sans-serif;
}

section p {
  font-family: "Raleway", sans-serif;
  margin-left: 10%;
}

.homeGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 2em;
}

@media (max-width: 414px) {
  .homeGrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4fr;
        grid-template-columns: 4fr;
  }
}

@media (max-width: tablet) {
  .homeGrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10%;
  }
}

.homeGrid a {
  font-size: 20px;
  text-decoration: none;
  background-color: #689DF4;
  border-radius: 10px;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 40px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}

@media (max-width: 414px) {
  .homeGrid a {
    padding: 2em;
  }
}

.homeGrid a p:hover {
  color: #000000;
}

main {
  height: 80vh;
  margin-left: 5%;
  margin-right: 5%;
  z-index: -1;
}

@media (max-width: 414px) {
  main {
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main img {
  margin-left: 10%;
}

@media (max-width: 414px) {
  main img {
    margin: 0;
    width: 100%;
  }
}

main h1 {
  font-size: 30px;
  text-align: left;
  margin-left: 10%;
  font-family: "Montserrat", sans-serif;
  color: #04619E;
  margin-top: 2%;
}

main h2 {
  text-align: left;
  margin-left: 10%;
  font-family: "Montserrat", sans-serif;
  color: #04619E;
  margin-top: 3%;
}

main p {
  font-family: "Raleway", sans-serif;
  margin-left: 10%;
  word-spacing: 50%;
}

main iframe {
  margin-left: 10%;
}

@media (max-width: 414px) {
  main iframe {
    margin: 0;
    width: 100%;
  }
}

main ul {
  margin-left: 10%;
  font-family: "Raleway", sans-serif;
}

main li {
  word-spacing: 50%;
}

main a {
  margin-left: 10%;
  text-decoration: none;
  color: #04619E;
  font-family: "Raleway", sans-serif;
}

@media (max-width: 414px) {
  main a {
    margin: 0;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main .socials {
  width: 40px;
  height: 40px;
}

footer {
  background-color: #D6DDE1;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: wrap;
          flex-direction: wrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  width: 100%;
  border-top: 3px solid #04619E;
  color: #04619E;
  position: fixed;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 414px) {
  footer {
    bottom: 0;
    height: 20vh;
    display: -ms-grid;
    display: grid;
  }
}

@media (max-width: tablet) {
  footer {
    bottom: 0;
    height: 30vh;
    display: -ms-grid;
    display: grid;
  }
}

footer .footerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 414px) {
  footer .footerWrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: tablet) {
  footer .footerWrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

footer .socials {
  width: 40px;
  height: 40px;
}

.footerspacer {
  height: 10vh;
}

@media (max-width: 414px) {
  .footerspacer {
    height: 200px;
  }
}

.booking {
  padding: 16px 28px;
  border-radius: 10px;
  background-color: #04619E;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 10px;
}

@media (max-width: 414px) {
  .booking {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    margin-left: 2.5%;
  }
}

.removeleftmargin {
  margin-left: 0%;
}

.mobile-left-margin-small {
  margin-left: 2.5%;
}

.mobile-left-margin {
  margin-left: 10%;
}

.societiestopmargin {
  padding-top: 5%;
}

@media (max-width: 414px) {
  .societiesLogos {
    width: 50%;
    margin-left: 25%;
  }
}
/*# sourceMappingURL=App.css.map */