// Project build colours
$DarkBlue: #04619E;
$LightBlue: #689DF4;
$Grey: #D6DDE1;
$Black: #000000;
$White: #ffffff;

body>#root>div {
  height: 100vh;
}

.App {
  margin: 0;
  width: 100%;
  text-align: center;
}

header {
  height: 10vh;
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 3px solid $DarkBlue;
  position: fixed;

  img {
    width: 60px;
    height: 52px;
    filter: invert(19%) sepia(98%) saturate(2139%) hue-rotate(187deg) brightness(95%) contrast(97%);
    margin: 1em 0 .5em;
    text-align: center;
    align-items: center;
    margin-left: 5%;
  }

  h1 {
    color: #04619E;
  }

  nav {
    align-items: flex-end;
    margin-right: 5%;
  }
}

header+section {
  padding-top: 102px;
}

section {
  height: 80vh;

  h1 {
    font-size: 30px;
    text-align: left;
    margin-left: 10%;
  }

  h2 {
    text-align: left;
    margin-left: 10%;
  }

  .homeGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 120px;

    a {
      font-size: 20px;
      text-decoration: none;
      background-color: $LightBlue;
      border-radius: 20px;
      padding: 1em;
      padding-top: 3em;
      padding-bottom: 3em;
      margin: 40px;
      text-align: center;

      a:hover {
        color: #000000;
      }
    }

    a:visited {
      color: $White;
    }
  }
}

footer {
  background-color: $Grey;
  height: 10vh;
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  z-index: 10;
  width: 100%;
  border-top: 3px solid $DarkBlue;
  color: #04619E;
  position: fixed;

  .footerWrapper {
    display: flex;
    justify-content: space-around;
    width: 25%;
    align-items: center;
  }

  .facebook {
    width: 40px;
    height: 40px;
  }

  .twitter {
    width: 40px;
    height: 40px;
  }
}